@use "base/mixins" as m;
@use "base/variables" as v;

.header {
    background-size: cover;
    background-position: center;
    padding: 3rem 0 20rem 0;

    &__busqueda {
        margin-top: 5rem;
        text-align: center;
        @include m.tablet {
            margin-top: 30rem;
        }
    }
    &__busqueda-boton {
        @include m.boton(v.$blanco, v.$primario);
    }
}
.notavif.notwebp .header {
    background-image: url(../img/header.jpg);
}
.webp .header {
    background-image: url(../img/header.webp);
}
.avif .header {
    background-image: url(../img/header.avif);
}
